@import "tailwindcss";

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}
.font-geologica {
    font-family: 'Geologica', sans-serif;
}
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }

html,
body {
    overflow-x: hidden;
}
